body{
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px 0;
}
.logo img{
        max-width: 100%;
        height: auto;
    }
.texto1{
    color: rgb(212, 212, 212);
    text-align: center;
    font-size: 170px;
    font-family: 'Inter', sans-serif;
    margin-top: -50px;
}
.texto2{
    color: rgb(114, 114, 114);
    text-align: center;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
}
.texto2 span{
    color: rgb(94, 196, 255)
}
